include *.txt
include LICENSE
recursive-include sphinx-theme-anfema *.conf
recursive-include sphinx-theme-anfema *.css
recursive-include sphinx-theme-anfema *.html
recursive-include sphinx-theme-anfema *.js